/InClassDemos/**    linguist-vendored
/Resources/**       linguist-vendored
*.rtf               linguist-generated
*.Designer.vb       linguist-generated
"**/My Project/**"   linguist-generated

*.sln        text eol=crlf linguist-generated
*.csproj     text eol=crlf linguist-generated
*.vbproj     text eol=crlf linguist-generated
*.vcxproj    text eol=crlf linguist-generated
*.vcproj     text eol=crlf linguist-generated

*.xproj      text eol=crlf linguist-generated
*.props      text eol=crlf linguist-generated
*.filters    text eol=crlf linguist-generated
*.vcxitems   text eol=crlf linguist-generated
